dl.timeline {
  line-height: 150%;
}

dl.mobile-timeline dt {
  text-align: center;
}

dl.mobile-timeline dt strong, dl.mobile-timeline dd h4 {
  margin-bottom: 20px;
  position: relative;
  display: block;
  text-align: center;
}

dl.mobile-timeline dt p:first-of-type {
  margin-bottom: 0;
}

dl.mobile-timeline dd p {
  text-align: center;
}

dl.timeline dt {
  margin-left: -30px;
  width: 160px;
  float: left;
  clear: both;
  text-align: center;
}

dl.timeline dd {
  margin: 0;
  padding: 0 0 0 148px;
  position: relative;
}

dl.timeline dd h4 {
  margin: 0;
  text-transform: none;
  font-size: 15px;
  color: #626366;
}

dl.timeline dd p {
  margin: 0;
}

dl.timeline dt strong {
  display: block;
  font-weight: bold;
  font-style: italic;
  color: #626366;
}

dl.timeline dt p {
  margin: 0;
  font-style: italic;
  color: #444;
}

.timeline .timeline-right {
  float: right;
  margin-top: -25px;
}
