.portfolio-grid {
  display: flex;
  overflow: hidden;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: center;
  align-content: space-between;
}

.mobile-grid {
  margin: 0;
  text-align: center;
}
