.content-footer {
  margin: 40px -53px -20px;
  padding: 20px 53px 25px;
  border-top: 1px solid #c5c6ca;
  border-radius: 0 0 3px 3px;
  box-shadow: inset 0 1px 2px rgba(33,33,33,0.1);
  font-size: 13px;
  background-image: -moz-linear-gradient(top, #d0d4db 0%, #fff 100%);
  background-image: -webkit-linear-gradient(top, #d0d4db 0%, #fff 100%);
  background-image: -o-linear-gradient(top, #d0d4db 0%, #fff 100%);
  background-image: linear-gradient(to bottom, #d0d4db 0%, #fff 100%);
}

.content-footer .wrapper {
  max-width: 854px;
  margin: 0 auto;
}
