
.header-css, .header-css-divider {
  font-family: "Times New Roman", Times, serif;
  color: #000;
  font-size: inherit;
  font-weight: inherit;
  text-shadow: 0 1px 0 rgb(167, 167, 167), 0 2px 0 rgb(143, 143, 143), 0 3px 0 rgb(71, 71, 71), 0 4px 0 rgb(27, 27, 27), 0 5px 0 rgb(8, 8, 8), -1px -1px 1px #000000, 0 6px 1px rgba(0, 0, 0, 0.0980392), 0 0 5px rgba(0, 0, 0, 0.0980392), 0 1px 3px rgba(0, 0, 0, 0.298039), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.247059), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.14902);
}

.header-line:after {
  font-family: "Times New Roman", Times, serif;
  content: attr(data-title);
  text-align: center;
  color: transparent;
  background: linear-gradient(179deg, #D4D4D4 20%, #A6A6A7, #DCDCDC 90%);
  -webkit-background-clip: text;
}

.header-line-1, .header-line-2, .header-line-3, .header-line-4 {
  position: absolute;
  width: 100%;
  margin: 0;
  left: 0;
}

.header-line-1:after, .header-line-2:after, .header-line-3:after, .header-line-4:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.header-line-1:after {
  margin-top: -8.25px;
}

.header-line-2:after {
  margin-top: -7.25px;
}

.header-line-2 {
  top: 2px;
}

.header-line-3:after {
  margin-top: -8.75px;
}

.header-line-3 {
  top: 37px;
}

.header-line-4:after {
  margin-top: 25.25px;
}

.header-line-4 {
  top: 34px;
}
